<%- include('../partials/header') %>

<form id="new-menu" action="/menus" method="POST">
    <label>Name:</label>
    <input type="text" name="name">
    <label>Menu Type:</label>
        <select name="menuType">
            <option value="Lunch">Lunch</option>
            <option value="Happy Hour">Happy Hour</option>
            <option value="Dinner">Dinner</option>
        </select>
</form>

<%- include('../partials/footer') %>