<%- include('./partials/header') %>

<div id="home-title">
<img src="https://i.imgur.com/xyAM4rt.png" alt="Dm^2">
<h2>Welcome to Dm^2</h2><br>
<h4>a dynamic menu maker for the food service industry</h4>
</div>
<br>
<br>
<br>
<section>

</section>
<br>
<br>
<br>
<section>
    
</section>

<%- include('./partials/footer') %>