<%- include('./partials/header') %>

<div id="home-title">
<img id="logo-img" src="https://i.imgur.com/xyAM4rt.png" alt="Dm^2">
<h2>Welcome to Dm^2</h2><br>
<h4>a dynamic menu maker for the food service industry</h4>
</div>
<br>
<br>
<br>
<section class="examples">
    <div id="example-menu1">
    </div>
    <div id="example-menu2">
    </div>
    <div id="example-app">
    </div>
</section>
<br>
<br>
<br>
<section>

</section>

<%- include('./partials/footer') %>