body {
  padding: 50px;
  font-family: 'Barlow', sans-serif;
  background-color: rgb(28, 28, 28);
  color: azure;
}

a {
  color: azure;
  text-decoration: none;
}

.login img {
  height: 3vmin;
  filter: grayscale(1);
}

nav {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(85, 85, 85);
  border: 1px solid rgb(85, 85, 85);
  border-radius: 40px 2px 40px 2px;
}

nav > * {
  display: flex;
  align-items: center;
  padding: 0.5vmin;
}

#menu-icon {
  width: 3vmin;
  /* background-color: white; */
  /* border-radius: 1.5vmin; */
  filter: invert(1);
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  width: 30%;
  min-height: 1.5vmin;
}

label, input, select {
  border: 1px solid rgb(85, 85, 85);
  border-radius: 12px 2px 12px 2px;
  padding: 5px;
  margin: 5px;
  color: azure;
  background-color: rgb(85, 85, 85);
}


